/* Marquee styles */
.marquee {
  --gap: 1px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap)));

  }
  to {
    transform: translateX(0);
  }
}


/* Enable animation */
.marquee__content {
  animation: scroll 40s linear infinite;

}

.marquee__content_reverse {
  animation: scroll-reverse 40s linear infinite;
}

/* Other page demo styles */
.marquee__content > * {
  flex: 0 0 auto;
  color: white;
  margin: 2px;
  border-radius: 0.25rem;
  text-align: center;
}

